/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Government Css Heare  */
:root {
  --p-color: #2888e2;
  --t-color: #959595;
}

html {
  color: #222;
  font-size: 62.5%;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'OpenSansLight', sans-serif;
  font-weight: 300;
  color: #666666;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 35px;
  font-size: 3.5rem;
  font-family: 'OpenSansLight';
  font-weight: 300;
  padding-bottom: 15px;
  padding-bottom: 1.5rem;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

button:hover,
button:focus,
button {
  outline: none;
}

.section-padding {
  padding: 80px 0;
  padding: 8rem 0;
}

.read-more-btn {
  border: none;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  background: var(--p-color);
  color: #fff;
  padding: 10px 30px;
  padding: 1rem 3rem;
  border-width: 1px 1px 4px 1px;
  border-style: solid;
  border-color: transparent;
  font-family: 'OpenSansSemibold';
  font-weight: 600;
}

.read-more-btn:hover {
  background: #fff;
  color: var(--p-color);
  border-color: var(--p-color);
  outline: none;
}

/* Custome Fonts here */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/OpenSansItalic/OpenSansItalic.woff'),
    url('../fonts/OpenSansItalic/OpenSansItalic.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight/OpenSansLight.woff'),
    url('../fonts/OpenSansLight/OpenSansLight.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSansSemibold/OpenSansSemibold.woff'),
    url('../fonts/OpenSansSemibold/OpenSansSemibold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/RobotoMedium/RobotoMedium.woff'),
    url('../fonts/RobotoMedium/RobotoMedium.woff2');
  font-weight: 500;
}

/*
 * Remove text-shadow in selection highlight:
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(-o-min-device-pixel-ratio: 5/4),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {

  *,
  *:before,
  *:after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*===========================
         Main Css Here
=============================*/
/* Menu Css */
.fixed-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #222;
  z-index: 999999;
}

.fixed-header .menu ul li a {
  color: #fff;
}

.menu-bars {
  display: none;
  font-size: 25px;
  font-size: 2.5rem;
  color: #666666;
  outline: none;
}

/* Menu Css */
.navigation {
  position: relative;
}

.navigation .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.manu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu ul li a {
  color: #333333;
  padding: 30px 10px;
  padding: 3rem 1rem;
  font-family: 'OpenSansSemibold';
  font-weight: 500;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  border-bottom: 2px solid transparent;
}

.menu ul li a:hover {
  color: var(--p-color);
  border-color: var(--p-color);
}

.menu-form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.menu-form-area a i {
  display: inline-block;
  height: 30px;
  height: 3rem;
  width: 30px;
  width: 3rem;
  background: #333333;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.menu-form-area a i:hover {
  background-color: var(--p-color);
  color: #fff;
}

/* banner-area */
.banner-area {
  background: url('../img/banner-top.jpg') no-repeat scroll 0 0 / cover;
  height: calc(100vh - 8.3rem);
  position: relative;
}

.banner-area:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--p-color);
  opacity: .20;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.banner-contant {
  padding-top: 200px;
  padding-top: 20rem;
  position: relative;
  z-index: 11;
}

.banner-contant h1 {
  text-align: center;
  color: #fff;
  font-family: 'RobotoMedium';
  font-weight: 500;
  font-size: 45px;
  font-size: 4.5rem;
}

.banner-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  padding-top: 50px;
  padding-top: 5rem;
}

.banner-button button {
  border: none;
  color: var(--p-color);
  background: #fff;
  padding: 10px 30px;
  padding: 1rem 3rem;
  font-weight: 600;
  font-family: 'OpenSansSemibold';
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  text-transform: uppercase;
  border-width: 0 1px 3px;
  border-style: solid;
  border-color: transparent;
}

.banner-button button:hover {
  color: #fff;
  background: var(--p-color);
  border-color: #115596;
}

/* 
=====================================
============about-area===============
=====================================
 */
.about-area .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.about-text h2 {
  padding-bottom: 30px;
  padding-bottom: 3rem;
  color: #333333;
}

.about-text p {
  text-align: justify;
}

.about-text-button {
  padding-top: 30px;
  padding-top: 3rem;
}

.about-image {
  width: 100%;
}

.about-image img {
  height: 100%;
  width: 100%;
}

/* 
=====================================
============about-area===============
=====================================
 */
/* 
=====================================
==========Advantage-area=============
=====================================
 */
.advantage-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #202020;
}

.advantage-content .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.advantage-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.advantage-text {
  max-width: 60%;
  margin: 30px auto;
  margin: 3rem auto;
}

.advantage-text h2 {
  padding-bottom: 30px;
  padding-bottom: 3rem;
  color: #fff;
}

.advantage-text p {
  color: #959595;
  text-align: justify;
}

/* ===================================== */
.get-offer {
  background: var(--p-color);
}

.get-offer h2 {
  text-align: center;
  color: #fff;
  padding: 40px 0;
  padding: 4rem 0;
}

/* ======================================= */
.advantage-content-items {
  padding: 50px 0;
  padding: 5rem 0;
  background: #efefef;
}

.advantage-content-items .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.advantage-item {
  text-align: center;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  padding: 30px 0;
  padding: 3rem 0;
}

.advantage-item:hover {
  -webkit-box-shadow: 0 0 25px #ddd;
  box-shadow: 0 0 25px #ddd;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.advantage-item:hover .item-image a i:after,
.advantage-item:hover .item-image a i {
  background-color: var(--p-color);
  color: #fff;
}

.advantage-item .item-image a i:after {
  position: absolute;
  content: '';
  bottom: -10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 20px;
  height: 2rem;
  width: 20px;
  width: 2rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: transparent;
  z-index: -1;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.advantage-item h3 a {
  color: #666666;
  font-size: 20px;
  font-size: 2rem;
  font-family: 'OpenSansSemibold';
  font-weight: 600;
}

.advantage-item .item-image a i {
  display: inline-block;
  color: var(--p-color);
  font-size: 30px;
  font-size: 3rem;
  height: 70px;
  height: 7rem;
  width: 70px;
  width: 7rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.2;
  background: #efefef;
  border: 2px solid var(--p-color);
  margin-bottom: 30px;
  margin-bottom: 3rem;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  position: relative;
}

.advantage-item .item-text p {
  padding: 20px 20px 0;
  padding: 2rem 2rem 0;
  text-align: center;
}

/* 
=====================================
==========Advantage-area=============
=====================================
 */
/* 
=====================================
==========Protfolio-area=============
=====================================
 */
.protfolio-header {
  text-align: center;
  padding-bottom: 50px;
  padding-bottom: 5rem;
}

.protfolio-header h2 {
  padding-bottom: 20px;
  padding-bottom: 2rem;
}

.protfolio-header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.protfolio-header-menu ul li a {
  padding: 15px 20px;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-family: 'OpenSansSemibold';
  font-weight: 600;
  display: inline-block;
  color: #666666;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  border-bottom: 2px solid #ddd;
}

.protfolio-header-menu ul li a:hover {
  color: var(--p-color);
  border-color: var(--p-color);
}

/* ==========protfolio-content============= */

.protfolio-item-image {
  width: 100%;
}

.protfolio-item-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.protfolio-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #f1f1f2;
  padding: 20px;
  padding: 2rem;
}

.protfolio-text-left h4 {
  font-family: 'OpenSansSemibold';
  font-weight: 600;
  padding-bottom: 5px;
}

.protfolio-text-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.text-right-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

.protfolio-content-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 30px;
  row-gap: 3rem;
}

/* 
=====================================
==========Protfolio-area=============
=====================================
 */
/* ===================================
 ======== work-hard area ===========
 =================================== */
.work-hard-area {
  background: url('../img/testimonial.jpg') no-repeat scroll 0 0 / cover;
  position: relative;
  z-index: 11;
}

.work-hard-area:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

.work-hard-content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.774);
  padding: 30px 40px;
  padding: 3rem 4rem;
  position: relative;
  z-index: 22;
}

.work-hard-content h3 {
  color: #fff;
  letter-spacing: 8px;
}

.work-hard-content p {
  color: #d9d9d9;
  padding: 20px 0 30px;
  padding: 2rem 0 3rem;
}

.work-header-content-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-header-content-text ul li {
  position: relative;
}

.work-header-content-text ul li a {
  padding: 0px 20px;
  padding: 0rem 2rem;
  letter-spacing: 6px;
  color: var(--p-color);
}

.work-header-content-text ul li a:hover {
  opacity: .65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

.work-header-content-text ul li:not(:last-child):after {
  position: absolute;
  content: '|';
  top: 0;
  right: 0;
  color: var(--p-color);
}

/* ===================================
 ======== work-hard area ===========
 =================================== */
/* ===================================
 ========== Team area ==============
 =================================== */
.team-area {
  padding-top: 80px;
  padding-top: 8rem;
}

.team-header {
  text-align: center;
  padding-bottom: 160px;
  padding-bottom: 16rem;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 30px;
  row-gap: 3rem;
}


.team-item-text {
  text-align: center;
  position: relative;
}

.team-item-body {
  max-width: 350px;
  max-width: 35rem;
  background: #243130;
  height: 60%;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.team-item:hover .team-item-body {
  background: var(--p-color);
}

.team-item-body img {
  -webkit-transform: translateY(-25.8%);
  -ms-transform: translateY(-25.8%);
  transform: translateY(-25.8%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.team-item-text h4 {
  font-weight: 600;
  font-family: 'OpenSansSemibold';
  color: var(--p-color);
  margin-bottom: 5px;
}

.team-item:hover .team-text {
  z-index: 11;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.team-item:hover .team-item-socail {
  z-index: 22;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.team-text {
  position: relative;
  z-index: 22;
  background: #ddd;
  padding: 20px;
  padding: 2rem;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.team-item-socail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 11;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.team-item-socail ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 0;
  padding: 3.2rem 0;
  background: #ddd;
}

.team-item-socail ul li a i {
  color: #888888;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 0 10px;
  padding: 0 1rem;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.team-item-socail ul li a i:hover {
  color: var(--p-color);
}

.team-profile-details {
  background: var(--p-color);
  position: relative;
}

.team-profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 10%;
  -moz-column-gap: 10%;
  column-gap: 10%;
}

.team-details {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%
}

.team-progresh-body {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.team-details h4 {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.8rem;
  padding-bottom: 10px;
  padding-bottom: 1rem;
}

.team-details p {
  color: #fff;
}

.team-details span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  height: 4rem;
  width: 40px;
  width: 4rem;
  -webkit-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  background: var(--p-color);
  margin: 0 auto;
}

.team-profile-item h3 {
  font-weight: 400;
  color: #fff;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}

/* ============Bar Filler=========== */
.barfiller {
  max-width: 400px;
  max-width: 40rem;
  height: 6px;
  background: #1c5182;
  border-radius: 8px;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, .5);
  box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, .5);
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0px;
  height: 100%;
  background: #333;
  z-index: 1;
  border-radius: 6px;
}

.barfiller .tipWrap {
  display: none;
}

.barfiller .tip {
  margin-top: -30px;
  padding: 2px 6px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  left: 0px;
  position: absolute;
  z-index: 2;
  background: rgb(255, 255, 255);
}

.barfiller .tip:after {
  border: solid;
  border-color: rgba(255, 255, 255, 0.8) transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9
}

/* ============Bar Filler=========== */
/* =================================
 ========== Team area ==============
 =================================== */
/* =================================
======== Reviews area ==============
 =================================== */
.reviews-area {
  background: url('../img/customar-review.jpg') no-repeat scroll 0 0 / cover;
  position: relative;
}

.reviews-area:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000b2;
  z-index: 11;
}

.reviews-area-content {
  position: relative;
  z-index: 22;
}

.review-header {
  text-align: center;
}

.review-header h2 {
  color: #fff;
}

.review-header p {
  color: #fff;
  padding-bottom: 50px;
  padding-bottom: 5rem;
}

.review-item {
  height: 220px;
  height: 22rem;
  padding: 0 10px;
  padding: 0 1rem;
}

.review-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.review-content-text-item {
  text-align: center;
}

.review-content-text-item h3 {
  color: #fff;
  font-family: 'OpenSansItalic';
  font-weight: 400;
  font-size: 22px;
  font-size: 2.2rem;
  max-width: 80%;
  margin: 20px auto;
  margin: 2rem auto;
}

.review-price {
  background: var(--p-color);
}

.review-price-itme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 5%;
  -moz-column-gap: 5%;
  column-gap: 5%;
  padding: 50px 0;
  padding: 5rem 0;
}

.review-price-itme h3 {
  font-weight: 400;
  font-family: 'OpenSansItalic';
  color: #fff;
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
}

.review-price-itme button {
  border: none;
  color: #fff;
  padding: 10px 30px;
  padding: 1rem 3rem;
  border: 2px solid #fff;
  text-transform: uppercase;
  background: transparent;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
  font-weight: 600;
}

.review-price-itme button:hover {
  background: #fff;
  color: var(--p-color);
}

.review-price {
  position: relative;
}

.review-price span {
  display: inline-block;
  height: 40px;
  height: 4rem;
  width: 40px;
  width: 4rem;
  background: var(--p-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: rotate(45deg) translateY(50%);
  -ms-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}

/* ===============pricing-table============== */
.pricing-table-area {
  background: #f1f1f2;
}

.pricing-table-header {
  text-align: center;
}

.pricing-curd-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  padding: 30px 0;
  padding: 3rem 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 30px;
  row-gap: 3rem;
}

.pricing-curd-item {
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.curd-header p {
  background: #ea5974;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 10px 0;
  padding: 1rem 0;
  font-weight: 500;
  border-bottom: 1px solid #df4b67;
  border-radius: 5px 5px 0 0;
}

.curd-price p {
  text-align: center;
  background: #f5617d;
  color: #fff;
  padding: 10px 0;
  padding: 1rem 0;
}

.curd-price p sup {
  top: -2em !important;
}

.curd-price p span {
  font-size: 40px;
  font-size: 4rem;
}

.curd-feature h3 {
  text-align: center;
  color: #333333;
  font-size: 22px;
  font-size: 2.2rem;
  font-family: 'OpenSansSemibold';
  font-weight: 600;
  padding-top: 10px;
  padding-top: 1rem;
}

.curd-feature ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 40px;
  padding: 2rem 4rem;
}

.curd-feature ul li {
  margin: 5px 0;
  margin: .5rem 0;
  color: #666666;
  padding: 0 40px;
  padding: 0 4rem;
}

.curd-feature ul li:nth-child(2n+1) {
  background: #f8f8f8;
  padding: 5px 20px;
  padding: .5rem 2rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 4px #888;
  box-shadow: 0px 1px 4px #888;
}

.curd-button {
  text-align: center;
  margin: 20px 0;
  margin: 2rem 0;
}

.curd-button button {
  -webkit-box-shadow: 0px 1px 4px #888;
  box-shadow: 0px 1px 4px #888;
  border: none;
  padding: 10px 0;
  padding: 1rem 0;
  width: 75%;
  display: inline-block;
  text-align: center;
  background: #ea5974;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 4px;
}

.most-populer {
  text-align: center;
  background: #fff;
  color: var(--p-color);
  padding: 10px 0;
  padding: 1rem 0;
  border-radius: 6px 6px 0 0;
  font-family: 'OpenSansLight';
  font-weight: 600;
}

.premium-curd .curd-header p {
  border-bottom: 1px solid #1b6eba;
  background: #1b76cc;
  border-radius: 0;
}

.premium-curd .curd-button button {
  background: #1b76cc;
}

.premium-curd .curd-price p {
  background: var(--p-color);
}

.ultimate-curd .curd-header p {
  border-bottom: 1px solid #499687;
  background: #74c8b8;
}

.ultimate-curd .curd-button button {
  background: #74c8b8;
}

.ultimate-curd .curd-price p {
  background: #74c8b8;
}

/* ===============pricing-table============== */


/* =================================
 ======== Reviews area =============
 =================================== */
/* =================================
 ===== Testimonial-muster area======
 =================================== */
.muster-testimoial-area {
  background: url('../img/tesmimonial-2.jpg') no-repeat scroll 0 0 / cover;
  position: relative;
  overflow-x: hidden;
}

.muster-testimoial-area:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: .55;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
  z-index: 11;
}

.muster-testimonial {
  z-index: 22;
  position: relative;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.muster-image i {
  color: #fff;
  font-size: 44px;
  font-size: 4.4rem;
  margin-bottom: 30px;
  margin-bottom: 3rem;
}

.muster-text h3 {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  font-family: 'RobotoMedium';
}

/* =================================
 ===== Testimonial-muster area======
 =================================== */
/* =================================
 ===== Testimonial-muster area======
 =================================== */
.blog-area {
  background: #f1f1f2;
}

.blog-header {
  text-align: center;
}

.blog-content {
  padding-top: 50px;
  padding-top: 5rem;
}

.blog-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 30px;
  row-gap: 3rem;
}

.blog-item-imgae {
  position: relative;
  width: 100%;
}

.blog-item-imgae:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #000;
  opacity: .55;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=55)";
  height: 100%;
  width: 100%;
  z-index: 11;
}

.blog-item-imgae img {
  width: 100%;
  height: 100%;
}

.blog-socail ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  position: absolute;
  bottom: 20px;
  bottom: 2rem;
  left: 0;
  right: 0;
  z-index: 22;
}

.blog-socail ul li a {
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.blog-socail ul li a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-socail ul li:nth-child(1) a {
  background: #000;
  background: var(--p-color);
  padding: 5px 20px;
  color: #fff;
  border-radius: 2.5rem;
}

.blog-socail ul li:nth-child(2) a {
  background: #000;
  background: #ec768c;
  padding: 5px 20px;
  color: #fff;
  border-radius: 2.5rem;
}

.blog-socail ul li:nth-child(3) a {
  background: #000;
  background: var(--p-color);
  padding: 5px 20px;
  color: #fff;
  border-radius: 2.5rem;
}

.blog-item-text {
  background: #fff;
  padding: 20px;
  padding: 2rem;
}

.blog-item-text h4 {
  color: #202020;
  padding-bottom: 10px;
  padding-bottom: 1rem;
  font-weight: 600;
}

.blog-roll ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.blog-roll ul li {
  text-transform: uppercase;
}

.blog-roll p {
  text-align: justify;
  padding-top: 15px;
  padding-top: 1.5rem;
}

/* =================================
 ===== Testimonial-muster area======
 =================================== */
/* =================================
 ========= Contact Form area========
 =================================== */
.contact-area {
  background: url('../img/contact-bg.jpg') no-repeat scroll 0 0 / cover;
  position: relative;
}

.contact-area:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: .85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  z-index: 11;
}

.contact-content {
  position: relative;
  z-index: 22;
}

.contact-content {
  text-align: center;
}

.contach-header h2,
.contach-header p {
  color: #fff;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  width: 40%;
  margin: 0 auto;
  row-gap: 20px;
  row-gap: 2rem;
  padding-top: 50px;
  padding-top: 5rem;
}

.form-area input[type='text'],
.form-area input[type='number'],
.form-area textarea {
  background: transparent;
  border: none;
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 10px;
  padding: 1rem;
  color: #fff;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-button input[type='email'] {
  width: 85%;
  border: none;
  padding: 10px 20px;
  padding: 1rem 2rem;
  border: 1px solid #ddd;
  color: var(--p-color);
  border-radius: 4px 0 0 4px;
}

.form-button button {
  width: 15%;
  border: none;
  background: var(--p-color);
  border-radius: 0 4px 4px 0;
}

.form-button button i {
  color: #fff;
  font-size: 22px;
  font-size: 2.2rem;
  border-top: 1px solid var(--p-color);
  padding: 10px 0;
  padding: 1rem 0;
}

/* =================================
 ========= Contact Form area========
 =================================== */
/* =================================
  ======= Footer Content area=======
 =================================== */
.footer-content {
  background: #202020;
}

.last-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.last-section-content p {
  color: #c1c1c1;
}

.last-logo img {
  width: 100%;
  height: 100%;
}

.last-about-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 0;
  padding: 2rem 0;
}

.last-about-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 10px 0;
  padding: 1rem 0;
  border-top: 2px solid #c1c1c1;
}

.last-about-content ul li i {
  color: #c1c1c1;
  line-height: 1.5;
}

.last-about-content ul li a {
  color: #c1c1c1;
}

.last-about-content ul li a:hover {
  text-decoration: underline;
}

.resent-galry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 10px;
  row-gap: 1rem;
  width: 100%;
}

.resent-galry img {
  width: 100%;
  height: 100%;
}

.last-section-header h3 {
  padding-bottom: 20px;
  padding-bottom: 2rem;
  font-family: 'RobotoMedium';
  font-weight: 500;
  color: #c1c1c1;
}

.need-help-socail ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-top: 2rem;
}

.need-help-socail ul li a i {
  color: #c1c1c1;
  font-size: 22px;
  font-size: 2.2rem;
  padding-right: 20px;
  padding-right: 2rem;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.need-help-socail ul li a i:hover {
  color: var(--p-color);
}

.last-help-roll ul li a {
  color: #c1c1c1;
}

.last-help-roll ul li {
  padding: 3px 0;
  padding: .3rem 0;
}

/* =================================
  ======= Footer Content area=======
 =================================== */
.footer-area {
  background: #2e2e2e;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-bottom .menu ul li a {
  color: #666666;
}

.footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-menu ul li a {
  color: #666666;
  padding: 20px 10px;
  padding: 2rem 1rem;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  text-align: center;
}

.footer-menu ul li a:hover {
  color: var(--p-color);
}

.footer-copy p {
  text-align: center;
}